.summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-characters {
    display: flex;
    justify-content: center; /* 전체를 가운데 정렬 */
    align-items: flex-end; /* 캐릭터와 이미지를 아래쪽 정렬 */
    margin-top: 20px;
    width: 100%;
}

.hanacard-character {
    width: 160px; /* 캐릭터의 가로 크기 */
    height: 200px; /* 캐릭터의 세로 크기 */
    background-image: url("/images/hanacard_characters.png"); /* 이미지 경로 */
    background-size: 800px 400px; /* 전체 이미지 크기에 맞게 조정 */
    background-repeat: no-repeat;
}
.hana-money {
    width: 500px;
    height: 400px; /* 이미지의 세로 크기 */
    background-image: url("/images/hanamoney.jpg"); /* Hana Money 이미지 경로 */
    background-size: cover; /* 이미지 크기에 맞게 조정 */
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 이미지에 약간의 그림자 추가 */
    border-radius: 8px; /* 이미지의 모서리를 둥글게 */
}
.hanacard-ch1 {
    background-position: -0px -200px; /* 두 번째 줄 첫 번째 캐릭터 */
}

.hanacard-ch2 {
    background-position: -520px -200px; /* 두 번째 줄 두 번째 캐릭터 */
}
.which-currency {
    background-image: url("/images/bg_utl_remitt.png"); /* 배경 이미지 경로 */
    background-size: contain; /* 이미지를 컨테이너에 맞게 조정 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    background-position: center; /* 이미지를 중앙에 배치 */
    height: 200px; /* 컨테이너 높이 설정, 필요에 따라 조정 가능 */
    width: 80%; /* 컨테이너 너비를 부모의 100%로 설정 */
    margin-top: 20px; /* 필요에 따라 상단 마진 추가 */
    perspective: 1000px;
}

.which-currency #currencyImage {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
}
.flip {
    transform: rotateY(180deg);
}
@media only screen and (max-width: 660px) {
    .hanacard-character {
        display: none;
    }
    .hana-money {
        width: 300px;
        height: 240px;
    }
}
